## default values for all charts
## We put everything under the `_` key
## so that we don't interfere with chart
## internal values.

_:
  ingress:
    enabled: true

  prometheus:
    enabled: true

## You could put actual chart values here
## But its recommended to have a seperate
## values file for that.
